.container {
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px;
  height: 50px;
  width: 140px;
  font-size: medium;
  border-radius: 8px;
  background-color: #0070f3;
  font-weight: 600;
  border-width: 0px;
  cursor: pointer;
  color: white;
}

.title a {
  color: #0070f3;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6vh;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 5vh;
    padding-right: 5vh;
  }
}