.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: 10rem;
  padding-left: 10vh;
  padding-right: 10vh;
}

.container > h1 {
  box-shadow: 5px 4px black;
  padding-right: 8px;
  height: fit-content;
  width: fit-content;
}

.list {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .container {
    align-items: center;
  }
}
